@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Match>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">

        <div class="product-teaser">@Model.Content.MatchMarkdown</div>

    </div>

</section>